<!-- 底部================================================== -->
<footer class="footer">
    <div class="footer_top">
        <div class="footer_top_nr auto fix">
        <div class="footer_top_nrk">
            <dl>
                <dt><img src="__IMG__/bg32.png" width="34" height="34" alt="">关于游尾会</dt>
                <dd>
                    <a href="#">公司简介</a>
                    <a href="#">联系我们</a>
                </dd>
            </dl>
            <dl>
                <dt><img src="__IMG__/bg33.png" width="34" height="34" alt="">关于游尾会</dt>
                <dd>
                    <a href="#">特价旅游</a>
                    <a href="#">全部尾单</a>
                    <a href="#">出境特卖</a>
                    <a href="#">国内特卖</a>
                    <a href="#">签证旅游</a>
                </dd>
            </dl>
            <dl>
                <dt><img src="__IMG__/bg34.png" width="34" height="34" alt="">旅游资讯</dt>
                <dd>
                    <a href="#">国外资讯</a>
                    <a href="#">国内资讯</a>
                </dd>
            </dl>
            <dl>
                <dt><img src="__IMG__/bg35.png" width="34" height="34" alt="">旅游指南</dt>
                <dd>
                    <a href="#">出境指南</a>
                    <a href="#">国内指南</a>
                </dd>
            </dl>
            <dl>
                <dt><img src="__IMG__/bg36.png" width="34" height="34" alt="">关于游尾会</dt>
                <dd>
                    <a href="#">积分规则</a>
                    <a href="#">用户协议</a>
                    <a href="#">使用条款</a>
                </dd>
            </dl>
            <dl>
                <dt><img src="__IMG__/bg37.png" width="34" height="34" alt="">关于游尾会</dt>
                <dd><img src="__IMG__/pic14.jpg" width="86" height="86"></dd>
            </dl>
        </div>
        </div>
    </div>
    <div class="footer_center">
        <div class="footer_center_nr auto">
            <ul class="fix">
                <li><img src="__IMG__/bg39.png" width="33" height="36" alt=""><span>特价不二</span> 价格只会更低</li>
                <li><img src="__IMG__/bg40.png" width="33" height="36" alt=""><span>最优路线</span> 行程精心筛选</li>
                <li><img src="__IMG__/bg41.png" width="33" height="36" alt=""><span>贴心服务</span> 服务全程跟踪</li>
                <li><img src="__IMG__/bg42.png" width="33" height="36" alt=""><span>让您安心</span> 品牌质量保证 支付安全</li>
            </ul>
        </div>
    </div>
    <div class="footer_bottom auto">
        <ol>
            <li><a href="#" title=""><img src="__IMG__/pic15.jpg" width="108" height="48" alt=""></a></li>
            <li><a href="#" title=""><img src="__IMG__/pic15.jpg" width="108" height="48" alt=""></a></li>
            <li><a href="#" title=""><img src="__IMG__/pic15.jpg" width="108" height="48" alt=""></a></li>
            <li><a href="#" title=""><img src="__IMG__/pic15.jpg" width="108" height="48" alt=""></a></li>
            <li><a href="#" title=""><img src="__IMG__/pic15.jpg" width="108" height="48" alt=""></a></li>
        </ol>
        <ul>
            Copyright © 2015 游尾会 京ICP备15028530号<br />
            游尾会（北京）国际旅行社有限公司 电话：010-88016482/3/5/6/7<br />
            地址：北京市西城区西直门外大街甲143号凯旋大厦C座B3-06
        </ul>
    </div>
</footer>

<include file="Public/var"/>
<block name="script"></block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
{:hook('pageFooter', 'widget')}
<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
	<block name="hidden"></block>
</div>
