<meta charset="UTF-8">
<title>{:C('WEB_SITE_TITLE')}</title>
<!--[if lt IE 9]>
    <script src="__JS__/html5shiv.min.js"></script>
    <script src="__JS__/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" href="__CSS__/common.css" />
<link rel="stylesheet" href="__CSS__/style.css" />
<script src="__JS__/jquery-1.9.1.min.js"></script>
<script src="__JS__/myjs.js"></script>
<script src="__JS__/myjss.js"></script>
<script src="__JS__/bannertab.js"></script>
<script src="__JS__/pictab.js"></script>
<script src="__JS__/wufenggundong.js"></script>
<!-- 页面header钩子，一般用于加载插件CSS文件和代码 -->
<!-- {:hook('pageHeader')} -->
