<!-- 导航条================================================== -->
<section class="dingbu">
    <div class="dingbu_nr auto fix">
        <div class="dingbu_nr_left">欢迎来到游尾会，一起旅游，一起嗨！</div>
        <div class="dingbu_nr_center">
            <ul class="ul fix">
                <li><a href="javascript:void(0);" title="">全部尾单<img src="__IMG__/bg18.png" width="7" height="4" alt=""></a>
                    <div class="xl fix">
                        <div class="xl_left">
                            <ul>
                                <li class="fix">
                                    <p>
                                        <img src="__IMG__/bg20.png" width="31" height="24" alt=""> 度假产品</p>
                                    <span class="fix">
                                        <a href="{:U('Line/index',array('catid'=>1))}" title="">
                                            <em>全部尾单</em>
                                        </a>
                                        <volist name=":get_line_cate_lists(1,10)" id="val">
                                           <a href="{$val['url']}" title="">{$val['title']}</a>
                                        </volist>
                                        <br />
                                        <br />
                                        <a href="{:U('Line/index',array('catid'=>6))}" title="">
                                            <em>出境特卖</em>
                                        </a>
                                        <volist name=":get_line_cate_lists(6,10)" id="val">
                                           <a href="{$val['url']}" title="">{$val['title']}</a>
                                        </volist>
                                        <br />
                                        <br />
                                        <a href="{:U('Line/index',array('catid'=>5))}" title="">
                                            <em>国内特卖</em>
                                        </a>
                                        <volist name=":get_line_cate_lists(5,10)" id="val">
                                           <a href="{$val['url']}" title="">{$val['title']}</a>
                                        </volist>
                                       </span>
                                </li>
                                <li class="fix">
                                    <p style="color:#ef4603;">
                                        <img src="__IMG__/bg21.png" width="31" height="24" alt=""> 其他</p>
                                    <span class="fix">
                                        <a href="{:U('Article/index',array('catid'=>40))}" title="">
                                            <em style=" width:434px; display:block;">帮助中心</em>
                                        </a>
                                        <a href="#" title="">
                                            <em style=" width:434px; display:block;">关于我们</em>
                                        </a>
                                        <a href="#" title="">
                                            <em style=" width:434px; display:block;">友情链接</em>
                                        </a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="xl_center">
                            <ul>
                                <li class="fix">
                                    <p>
                                        <img src="__IMG__/bg22.png" width="31" height="24" alt=""> 签证</p>
                                    <span class="fix">
                                        <a href="#" title="">
                                            <em>亚洲</em>
                                        </a>
                                        <a href="#" title="">
                                            <em>非洲</em>
                                        </a>
                                        <a href="#" title="">
                                            <em>欧洲</em>
                                        </a>
                                        <a href="#" title="">
                                            <em>澳洲</em>
                                        </a>
                                        <a href="#" title="">
                                            <em>美洲</em>
                                        </a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="xl_right">
                            <ul>
                                <li class="fix">
                                    <p>
                                        <img src="__IMG__/bg23.png" width="31" height="24" alt=""> 旅游资讯</p>
                                    <span class="fix">
                                        <a href="{:U('Article/index',array('catid'=>1))}" title="">
                                            <em>旅游资讯</em>
                                        </a>
                                        <br />
                                        <a href="#" title="">
                                            <em>旅游公告</em>
                                        </a>
                                        <br />
                                        <a href="{:U('Article/index',array('catid'=>2))}" title="">
                                            <em>旅游攻略</em>
                                        </a>
                                        <br />
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="#" title="">加入收藏</a></li>
                <li><a href="#" title="">订单查询</a></li>
            </ul>
        </div>
        <div class="dingbu_nr_right">
            <ul class="fix">
                <li>
                    <p>
                        <a href="#" title="">
                            <img src="__IMG__/bg15.png" width="22" height="22" class="img1">
                            <img src="__IMG__/bg15_h.png" width="22" height="22" class="img2">
                        </a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="#" title="">
                            <img src="__IMG__/bg16.png" width="22" height="22" class="img1">
                            <img src="__IMG__/bg16_h.png" width="22" height="22" class="img2">
                        </a>
                    </p>
                    <span>
                        <img src="__IMG__/pic5.jpg" width="119" height="119">
                    </span>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--顶部内容 end-->
<header class="header auto fix">
    <div class="logo">
        <a href="/">
            <img src="__IMG__/logo.png" width="305" height="59" alt="">
        </a>
    </div>
    <div class="search">
        <div class="search_nr fix">
            <input name="q" class="seach_in1 search-keyword wbk" type="text" id="search" value="请输入目的地、主题或关键词" onfocus="if(this.value=='请输入目的地、主题或关键词'){this.value='';}" onblur="if(this.value==''){this.value='请输入目的地、主题或关键词';}" />
            <span class="fix"> <a href="#" title="">樱花季</a> <a href="#" title="">父母游</a> <a href="#" title="">欧洲</a> </span>
            <input type="submit" name="button" id="button" value="" class="btn">
        </div>
    </div>
    <div class="tel fix">
        <ol>
            <img src="__IMG__/bg2.png" width="47" height="47" alt="">
        </ol>
        <ul>
            24小时免费咨询
            <span>400-876-5261</span>
        </ul>
    </div>
</header>
<!--header end-->
<block name="nav">
    <nav class="nav">
        <div class="nav_nr auto fix">
            <ul class="ul fix">
                <li><a href="/" title="">首页</a></li>
                <li><a href="{:get_line_cate(1,'url')}" title="">{:get_line_cate(1,'catname')}<img src="__IMG__/bg3.png" width="8" height="5" alt=""></a>
                    <div class="xl">
                        <volist name=":get_line_cate_lists(1,10)" id="val">
                            <a href="{$val['url']}" title="{$val['title']}">{$val['title']}</a>
                        </volist>
                     </div>
                </li>
                <li><a href="{:get_line_cate(6,'url')}">{:get_line_cate(6,'catname')}<img src="__IMG__/bg3.png" width="8" height="5" alt=""></a>
                    <div class="xl">
                          <volist name=":get_line_cate_lists(6,10)" id="val">
                              <a href="{$val['url']}" title="{$val['title']}">{$val['title']}</a>
                          </volist>
                    </div>
                </li>
                <li><a href="{:get_line_cate(5,'url')}">{:get_line_cate(5,'catname')}<img src="__IMG__/bg3.png" width="8" height="5" alt=""></a>
                    <div class="xl">
                          <volist name=":get_line_cate_lists(5,10)" id="val">
                              <a href="{$val['url']}" title="{$val['title']}">{$val['title']}</a>
                          </volist>
                    </div>
                </li>
                <li><a href="#">签证<img src="__IMG__/bg3.png" width="8" height="5" alt=""></a>
                    <div class="xl"> <a href="#" title="">华北</a><a href="#" title="">东北</a><a href="#" title="">西北</a><a href="#" title="">华东</a><a href="#" title="">华南</a><a href="#" title="">西南</a> </div>
                </li>
                <li><a href="{:U('Article/index/catid/1')}">旅游资讯</a></li>
                <li><a href="{:U('Article/index/catid/2')}">旅游指南</a></li>
            </ul>
            <ol class="fix">
                <if condition="is_login()">
                    <li>
                        <a href="{:U('User/logout')}">
                            <img src="__IMG__/bg5.png" width="20" height="19" /> 退出</a>
                    </li>
                    <li>
                        <a href="{:U('User/index')}">
                            <img src="__IMG__/bg4.png" width="20" height="19"> {:get_nickname()}</a>
                    </li>

                    <else />
                    <li>
                        <a href="{:U('User/index')}">
                            <img src="__IMG__/bg5.png" width="20" height="19"> 注册</a>
                    </li>
                    <li>
                        <a href="{:U('User/login')}">
                            <img src="__IMG__/bg4.png" width="20" height="19"> 登录</a>
                    </li>
                </if>
            </ol>
        </div>
    </nav>
    <!--nav end-->
</block>
