<extend name="Base/common" />

<block name="body">
    <section class="hyzx_main auto fix">
        <include file="User/left"/>
        <div class="hyzx_main_right">
            <h2 class="fix">
                <span>我的收藏</span>
            </h2>
            <div class="ddxq_main">
                <div class="yxiu_01 mt30">
                    <table class="ytable1 fs">
                        <tr>
                            <td width="149">收藏类型</td>
                            <td width="418" class="ytling">产品名称</td>
                            <td width="172">价格</td>
                            <td width="122">操作</td>
                        </tr>
                        <tr>
                            <td>线路</td>
                            <td class="ytling">【长滩岛4晚6日】安排长滩岛经典景点遨游</td>
                            <td class="ytd1">￥<span>3299</span></td>
                            <td><a href="#">删除</a></td>
                        </tr>
                        <tr>
                            <td>线路</td>
                            <td class="ytling">【长滩岛4晚6日】安排长滩岛经典景点遨游</td>
                            <td class="ytd1">￥<span>3299</span></td>
                            <td><a href="#">删除</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</block>
