<extend name="Base/common" />

<block name="body">
    <section class="hyzx_main auto fix">
        <include file="User/left"/>
        <div class="hyzx_main_right">
            <h2 class="fix">
                <span>我的点评</span>
            </h2>
            <div class="ddxq_main">
                <div class="yxiu_01 mt30">
                    <table class="ytable1 fs">
                        <tr>
                            <td width="150">订单编号</td>
                            <td width="334" class="ytling">产品信息</td>
                            <td width="223">金额</td>
                            <td width="120">评价时间</td>
                            <td width="122">操作</td>
                        </tr>
                    <volist name="comment" id="val">
                        <tr>
                            <td>{$val['order_id']}</td>
                            <td class="ytling"><a href="{$val['product_url']}">{$val['title']}</a></td>
                            <td class="ytd1">￥<span>{$val['order_price']}</span></td>
                            <td>{:date('Y-m-d H:i:s', $val['create_time'])}</td>
                            <td>
                                <a href="javascript:show_content('{:date('Y-m-d H:i:s', $val['create_time'])}', '{$val['content']}');">查看</a> |
                                <a href="javascript:alert('目前不允许进行删除操作');">删除</a>
                            </td>
                        </tr>
                    </volist>
                    </table>
                    <div id="content" style="display:none;">
                        <span class="yspp">点评内容：</span>
                        <div class="ydian">
                            时间：2015-11-04<br>
                            内容：由于旅游尾单的特性，价格可能还会随着时间的临近而下降，您购买到心仪的度假产品后，还请冷静面对随后的降价，该出手时就出手，买到
                            总比错过强呀！！
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</block>
<block name="script">
<script type="text/javascript">
function show_content(time, content) {
    $("#content .ydian").html('时间：'+ time +'<br>内容：' + content);
    $("#content").show();
}
</script>
</block>
