<div class="hyzx_main_left">
    <ol class="fix">
        <p><img src="__IMG__/bg72.png" width="21" height="19" alt=""></p>
        <a href="{:U('index')}"><span>会员中心</span></a>
    </ol>
    <ul>
        <li><a href="{:U('order')}" <eq name="Think.const.ACTION_NAME" value="order"> class="xz"</eq>>我的订单</a></li>
        <li><a href="{:U('comment')}" <eq name="Think.const.ACTION_NAME" value="comment"> class="xz"</eq>>我的点评</a></li>
        <li><a href="{:U('score')}"  <eq name="Think.const.ACTION_NAME" value="score"> class="xz"</eq>>积分账户</a></li>
        <li><a href="{:U('profile')}" <eq name="Think.const.ACTION_NAME" value="profile"> class="xz"</eq>>个人资料</a></li>
        <li><a href="{:U('collect')}" <eq name="Think.const.ACTION_NAME" value="collect"> class="xz"</eq>>我的收藏</a></li>
        <li><a href="{:U('repassword')}" <eq name="Think.const.ACTION_NAME" value="repassword"> class="xz"</eq>>修改密码</a></li>
    </ul>
</div>
