<extend name="Base/common" />
<block name="body">
    <section class="hyzx_main auto fix">
        <include file="User/left" />
        <div class="hyzx_main_right">
            <h2 class="fix">
                <span>修改密码</span>
            </h2>
            <div class="ddxq_main">
                <form class="" action="" method="post">
                    <div class="yxiu_01 mt30">
                        <div class="yx_01 fix">
                            <span>旧密码：</span>
                            <input type="text" name="old" class="yxput_01">
                            <font>请输入当前使用密码</font>
                        </div>
                        <div class="yx_01 fix">
                            <span>新密码：</span>
                            <input type="text" name="password" class="yxput_01">
                            <font>6-16位英文字母、数字组成</font>
                        </div>
                        <div class="yx_01 fix">
                            <span>确认新密码：</span>
                            <input type="text" name="repassword" class="yxput_01">
                        </div>
                        <input type="submit" value="保 存" class="yxput_02">
                    </div>
                </form>
            </div>
        </div>
    </section>
</block>

<block name="script">

</block>
