<extend name="Base/common" />

<block name="body">
    <section class="hyzx_main auto fix">
        <include file="User/left"/>
        <div class="hyzx_main_right">
            <h2 class="fix"> <span>积分帐户</span> </h2>
            <div class="jfzh_main">
                <div class="jfzh_main_top">您当前的积分累计是：<span>1000分</span></div>
                <div class="jfzh_main_bottom">
                    <h3 class="auto">会员积分规则</h3>
                    <ul>
                        每个会员都有一个积分字段，会员可以用积分来兑换礼品或其它管理员设置的奖励。会员可以<a href="#" title="">评价旅游信息、可以分享旅游讯息</a>来获取积分。可以设置各种形式的奖励措施，会员参加后，在后台给会员增加相应的积分。通过后台的积分商城功能，新增各种兑换物品，会员在会员中心左侧的<a href="#" title="">"积分商城"</a>里兑换，兑换成功后，会员扣除相应的积分，兑换订单会提交到分站后台，管理根据提交的订单来处理会员的积分兑换。
                    </ul>
                </div>
            </div>
        </div>
    </section>
</block>
