<extend name="Base/common"/>
<block name="body">

  <section class="main auto fix y_main1">


    <include file="Public/Article_menu"/>

      <div class="ymain_right fr pb30">
          <div class="ytip_01"><span>{$category['title']}</span></div>
          <div class="yart_03">
              <div class="y_seach mt20 fix">
                  <input type="text" class="y_put1 fl putnone" value="请输入您要搜索的内容..."onfocus="if(this.value=='请输入您要搜索的内容...'){this.value='';}"  onblur="if(this.value==''){this.value='请输入您要搜索的内容...';}">
                  <input type="button" class="y_put2 fr putnone">
              </div>
              <ul class="yul2 fix">
                      <volist name="lists" id="val">
                            <li><a href="{$val['url']}">{$val['title']}</a>[{:date('Y-m-d',$val['create_time'])}]</li>
                      </volist>

              </ul>
              <div class="pages">
                {$_page}
              </div>
          </div>
      </div>
  </section>

</block>
