<extend name="Base/common" />

<block name="body">
<section class="main auto fix">
    <div class="ytip_02 fs">
        <a href="#">首页</a> -> <a href="#">全部尾单</a> -> <a href="#">港澳台</a>
    </div>
    <div class="abs yfen">
        <div class="bdsharebuttonbox">
            <a href="#" class="bds_more" data-cmd="more"></a>
            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
            <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
        </div>
    </div>
    <div class="ydiv9 fix">
        <div class="ydivzuo">
            <font>
                <span>
                    <{$line_info[ 'ct_type']|get_can_tuan}>
                </span>{$line_info['title']}
            </font>
            {$line_info['sub_title']}
            <div class="tu">
                <div id="demo3" class="slideBox" style="margin-bottom:14px;">
                    <ul class="items">
                        <volist name="line_info['images']" id="val">
                            <li>
                                <a href="javascript:void(0);" title="{$line_info['base_hits']}位游客关注    最近预订数{$line_info['base_order']}">
                                    <img src="{$val}">
                                </a>
                            </li>
                        </volist>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ydivyou fr">
            <span>门 市 价: </span>
            <del id="price">￥{$default_tc['price']}</del>
            <br>
            <span>优 惠 价: </span>
            <bdo>￥</bdo><span class="yspp2" id="price_cncn">{$default_tc['best_price']}</span>起
            <br>
            <span>发团日期: </span> 指定日期，请提前{$line_info['earlier_date']}天报名
            <br>
            <span>出发城市: </span> {$line_info['starting']}
            <br>
            <span>行程天数: </span> {$line_info['daynum']}天
            <br>
            <span>交通方式: </span> {$line_info['traffic']}
            <br>
            <div class="key">
                <dl class="h40">
                    <dt>
                        <span>套餐类型</span>:&nbsp;</dt>
                    <dd>
                        <ul id="price_type">
                            <volist name="line_tc" id="val">
                                <li <eq name="val['is_default']" value="1">class="selected"</eq> id="li_date_type_{$val['tc_id']}" htmlfor="{$val['tc_id']}">
                                    <a href="javascript:line.date_type('{$val['tc_id']}','{:date('Y-m-d')}','{$val['price']}','{$val['best_price']}','0',' {$val['typename']}','-1');" title="{$val['update_price_explan']}">{$val['typename']}</a>
                                </li>
                            </volist>
                        </ul>
                    </dd>
                </dl>
                <dl>
                    <dt><span>出发日期</span>:&nbsp;</dt>
                    <dd>
                        <input id="start_time" name="start_time" type="text" class="text text110 riqi" value="" placeholder="请选择出发日期" readonly="readyonly" title="点击选择出发日期">
                    </dd>
                </dl>
                <dl id="calendar" style="display:none"><b onClick="line.close_calendar();" id="cal_hide">隐藏</b></dl>
                <dl>
                    <dt style="display:none">人数:&nbsp;</dt>
                    <dd style="display:none">
                        <form id="line_order" action="{:U('Line/order')}" method="get">
                            <input id="line_id" name="line_id" type="hidden" value="{$line_info['line_id']}">
                            <input id="type_id" name="type_id" type="hidden" value="{$default_tc['tc_id']}">
                            <input id="date" name="date" type="hidden" value="{:date('Y-m-d')}">
                            <input id="discount" type="hidden" value="0">
                            <input name="adult_num" id="adult_num" type="text" value="1" class="text text30"> 成人
                            <span></span>&nbsp;&nbsp;
                            <input name="child_num" id="child_num" type="text" value="0" class="text text30"> 儿童
                            <span></span>
                            <span style="display:none">库存
                                <em id="stock">-1</em>
                            </span>
                        </form>
                    </dd>
                </dl>
                <div class="button">
                    <span id="stock_explan" style="display:none"></span>
                    <span style="width:125px; height:36px;">
                        <input name="imageField" type="submit" class="yspan5" value="立刻预订" onClick="line.order();">
                    </span>

                    <s class="tel">或直接拨打
                        <em>400-876-5261</em>咨询/预订</s>
                    <div id="orange">已选择了“
                        <em id="select_typename"> 特价尾单</em>”
                        <em id="from_date"></em>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wmdcn_nr auto fix">
        <div class="wmdcn_nr_left">
            我们的承诺：
            <span>OUR COMMITMENT</span>
        </div>
        <div class="wmdcn_nr_right2">
            <ul class="fix">
                <li>
                    <div class="yimg fl">
                        <img src="__IMG__/ytip_01.png" alt="" class="ymg1 fl">
                    </div>
                    <div class="yzi fl">
                        <div class="y_zi1">
                            <span>特价不二</span>
                            价格只会更低
                        </div>
                    </div>
                </li>
                <li>
                    <div class="yimg fl">
                        <img src="__IMG__/ytip_02.png" alt="" class="ymg1 fl">
                    </div>
                    <div class="yzi fl">
                        <div class="y_zi1">
                            <span>特价不二</span>
                            价格只会更低
                        </div>
                    </div>
                </li>
                <li>
                    <div class="yimg fl">
                        <img src="__IMG__/ytip_03.png" alt="" class="ymg1 fl">
                    </div>
                    <div class="yzi fl">
                        <div class="y_zi1">
                            <span>特价不二</span>
                            价格只会更低
                        </div>
                    </div>
                </li>
                <li>
                    <div class="yimg fl">
                        <img src="__IMG__/ytip_04.png" alt="" class="ymg1 fl">
                        <img src="__IMG__/ytip_044.png" alt="" class="ymg2 fl">
                    </div>
                    <div class="yzi fl">
                        <div class="y_zi1">
                            <span>特价不二</span>
                            品牌质量保证 支付安全
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="ydiv2">
        <div class="ytitle_02 fix">
            <a href="#ys1">线路行程</a>
            <a href="#ys2">费用说明</a>
            <a href="#ys3">预定指南</a>
            <a href="#ys4">游客点评</a>
            <a href="#ys5">我要咨询</a>
        </div>
        <div class="yart_04">
            <a class="ydi"> </a>
            <a class="yspan4">产品特色推荐：</a>
            <div class="yaa editor">{$line_info['features']}</div>


            <a class="ydi" name="ys1"> </a>
            <a class="yspan4">参考行程：</a>
            <div class="yaa3">
                <volist name="line_info['xingcheng']" id="val" key="xx">
                    <div class="yyar1">
                        <span>第{$xx}天</span>
                        <div class="yaar">
                            <span>{$val[0]}</span>
                            <a href="javascript:void(0);" class="yab1">用餐：{$val[2]}</a><a href="#" class="yab2">交通：{$val[3]}</a><a href="#" class="yab3">住宿：{$val[4]}</a>
                            <font class="editor">{$val[1]}</font>
                            <volist name="val[5]" id="v">
                                <img src="{:get_cover($v, 'path')}" width="100%" />
                            </volist>
                        </div>
                    </div>
                </volist>
            </div>


            <a class="ydi" name="ys2"> </a>
            <a class="yspan4">费用说明：</a>
            <div class="yaa fix editor">

				{$line_tc[0]['update_price_explan']}
            </div>



            <a class="ydi" name="ys3"> </a>
            <a class="yspan4">预定指南：</a>
            <div class="yaa editor">
                 {$line_info['remark'][1]}
            </div>

            <a class="ydi" name="ys4"> </a>
            <a class="yspan4">游客评价：</a>
            <div class="yaa">
            <volist name="comment_lists" id="val">
                <div class="ydid2">
                    昵称：{:get_username($val['user_id'])}
                    <br> 内容：{$val['content']}
                    <br>
                    <span>{:date('Y-m-d', $val['create_time'])}</span>
                </div>
            </volist>
            </div>

            <a class="ydi" name="ys5"> </a>
            <a class="yspan4">我要咨询：</a>
            {:hook('message')}
        </div>
    </div>
</section>
</block>
<block name="script">
    <script type="text/javascript">
        show_code()
        function show_code() {
            var rand = Math.random();
            $("#verify_img").attr('src', '/Line/verify?' + rand)
        }
        $(function(){
            var thisId = window.location.hash;
            if(thisId != "" && thisId != undefined){
                $("a[href="+ thisId +"]").addClass("xz");
            }
            var ytitle_02 = $(".ytitle_02 a");
            ytitle_02.click(function(xx){
                ytitle_02.removeClass("xz");
                $(this).addClass("xz");
            })
        })
        var _url_show_price_type = '{:U('showTypeDate')}';
    </script>
    <script src="__JS__/line.js" type="text/javascript"></script>
    <script src="__JS__/editor.js"></script>
    <script>
        $('.editor').each(function() {
            var self = $(this);
            var html = self.html();
            self.html(Editor_cncn.prototype.contentDecode(html, true));
        });
        $(".price_tooltip").hover(function() {
            var top = $(this).position().top + 23;
            var left = $(this).position().left - 100;
            $(".tooltip_con").css({
                "top": top,
                "left": left
            });
            $(".tooltip_con").show();
        }, function() {
            $(".tooltip_con").hide();
        });
        $(".tooltip_con").hover(function() {
            $(this).show();
        }, function() {
            $(this).hide();
        });
    </script>
    <script src="__JS__/jquery.slideBox.min.js" type="text/javascript"></script>
    <script>
        jQuery(function($) {
            $('#demo3').slideBox({
                duration: 0.3, //滚动持续时间，单位：秒
                easing: 'linear', //swing,linear//滚动特效
                delay: 5, //滚动延迟时间，单位：秒
                hideClickBar: false, //不自动隐藏点选按键
                clickBarRadius: 10
            });
        });
    </script>
    <script>
        $(window).scroll(function() {
            if ($(window).scrollTop() > 1030) {
                $('.ytitle_02').css({
                    'position': 'fixed',
                    'top': '0px'
                })
            } else {
                $('.ytitle_02').css({
                    'position': 'relative'
                })
            }
        });
    </script>
</block>
